*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
}

.header{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(223, 222, 222);
    position: fixed;
    width: 100%;
}
.menu{
    text-decoration: none;
    color: black;
    padding: 15px;
    text-transform: capitalize;


}

.login{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    margin-left: 15px;
}

.sign-btn{
    color: blue;
    border: 1px solid blue;
    padding: 5px 10px;
    border-radius: 10px;
}

.nav-btn{
    display: none;
}

.b-1{
    background-color: black;
    width: 25px;
    height: 3px;
}

.b-2{
    background-color: black;
    width: 25px;
    height: 3px;
    margin-top: 3px;
}

.b-3{
    background-color: black;
    width: 25px;
    height: 3px;
    margin-top: 3px;
}

.home{
    display: flex;
    padding: 60px 100px;
    height: 90vh;
    background-color: whitesmoke;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.b-img{
    width: 700px;
    height: 600px;
}

.text-1{
    font-size: 35px;
    text-transform: capitalize;
}

.link-1{
    margin-top: 25px;
    text-decoration: none;
    background-color: rgb(32, 107, 206);
    width: 150px;
    text-align: center;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
}

.abt{
    margin-top: 75px;
}

.about-us{
    display: flex;
    background-color: whitesmoke;
    height: 100vh;
}

.abt-imgs{
    width: 650px;
    display: flex;
    justify-content: center;
}

.abt-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 100px;
}
.head{
    color: blue;
}
.abt-head{
    font-size: 35px;
    padding-bottom: 25px;
}

.what-we-do{
    background-color: whitesmoke;
    text-align: center;
    height: 100vh;
    padding-top: 100px;
}
.what-title-1{
    text-transform: capitalize;
    color: blue;
}
.what-title-2{
    text-transform: capitalize;
    padding-top: 30px;
    font-size: 45px;
}

.board{
    margin-top: 50px;
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
    
}
.board-1{
    margin-top: 50px;
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
    
}

.card{
    background-color: white;
    padding: 10px 60px;
    width: 350px;
    border: 0.5px solid rgba(128, 128, 128, 0.24);
    margin-left: 25px;
    border-radius: 5px;
}
.testimonials{
    height: 100vh;
    background-color: whitesmoke;
    text-align: center;
}
.test-head-1{
   padding-top: 70px;
   color: blue;
}
.test-head-2{
    padding: 30px;
    font-size: 45px;
    text-transform: capitalize;
}
.pro-pic{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.review{
    display: flex;
    margin-left: 150px;
    padding: 40px;
}

.r-card{
    width: 300px;
    text-align: left;
    text-align: justify;
    background-color: rgb(235, 235, 235);
    padding: 50px;
    margin: 0px 20px;
    border-radius: 30px;
    
}
.name{
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}

.form{
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
  
}
.form-area{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    padding: 0px 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.form-card{
    text-align: center;
}
.form-head{
    margin: 35px 0px;
}
.form-para{
    margin-bottom: 25px;
}

.input{
    border: 1px solid skyblue;
    padding: 10px 25px;
    margin-bottom: 10px;
}

.img{
    width: 600px;
    margin-left: 200px;
}

.fab{
    color: gray;
    margin-left: 5px;
}

.footer{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(253, 253, 253);
    
}