@media screen and (max-width: 992px) {
    .header{
        display: flex;
        justify-content: space-around;
        padding: 20px;
        background-color: whitesmoke;
    }
    .home{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
        padding: 10px;
    }
    .link-1{
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .abt{
        margin-top: 20px;
    }
    .b-img{
        width: 400px;
        height: 400px;
        margin-top: 0%;
    }
    .about-us{
        display: flex;
       flex-direction: column;
        height: 100vh;
    }
    .abt-imgs{
        width: 450px;
        display: flex;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .board{
        margin-top: 50px;
        display: flex;
        margin-left: 0%;
        transform: translateX(0%);
        
    }
    .board-1{
        margin-top: 50px;
        display: flex;
        margin-left: 0%;
        transform: translateX(0%);
        
    }
    .review{
        display: flex;
        margin-left: 0px;
        padding: 0px;
    }
    .img{
        width: 200px;
        margin-left: 20px;
       display: none;
    }
    .form{
        height: 100vh;
        width: 100%;
        background-color: whitesmoke;
        display: flex;
      
    }
    .header{
        position: relative;
        justify-content: center;
    }
    .form-area{
        width: 100%;
        text-align: center;
    }
  }
  
  /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (max-width: 700px) {
    .nav-btn{
        display: block;
    }
    .header{
        display: flex;
        flex-direction: column;
    }
    .menus{
        
        display: none;
        flex-direction: column;
        text-align: center;

    }
    .log{
        display: none;
        flex-direction: column;
        text-align: center;
        
    }
    .login{
        margin-bottom: 15px;
    }
    .nav-btn{
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .b-img{
        width: 200px;
        height: 200px;
        margin-top: 0%;
    }
    .abt-imgs{
        width: 250px;
    }
    .abt-text{
        padding: 10px;
        text-align: center;
    }
    .what-title-2,.what-cont{
        padding: 10px;
    }
    .board{
        margin-top: 50px;
        display: flex;
        margin-left: 0%;
        transform: translateX(0%);
        flex-direction: column;
        padding: 0%;
        
    }
    .board-1{
        margin-top: 50px;
        display: flex;
        margin-left: 0%;
        transform: translateX(0%);
        flex-direction: column;
        padding: 0%;
        margin-top: 0%;
        
    }
    .card{
        background-color: white;
        padding: 10px 30px;
        width: 300px;
        border: 0.5px solid rgba(128, 128, 128, 0.24);
        margin-left: 25px;
        border-radius: 5px;
    }
    .what-we-do{
        height: 130vh;
    }
    .review{
        display: flex;
        flex-direction: column;
        
    }
    .r-card{
        margin-top: 15px;
        text-align: center;
    }
    .testimonials{
        height: 210vh;
    }
  }